body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
}
#root .App{
  height: 100vh;
}

.main-content{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

.profile-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin-bottom: 10px;
}

.profile-wrapper .user-icon{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-wrapper .share-icon{
  position: absolute;
  right: 20%;
  top: 20%;
}

.links-section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.links-section-wrapper .link-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  color: #101828;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.slack-github-logo-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

footer img{
  width: 32px;
  height: 32px;
  max-width: 70vw;
  flex-grow: 0 !important;
}

.footer-text{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085; 
}